.App {
    text-align: center;
}

body{
    color: seashell;
    font-family: "October Tamil";
    background-image: url('/Users/teresakoetter/Downloads/hamburger-g56090d1e3_1920.jpg');
    background-size: cover;
}